===============================================================================
BGP Neighbor
===============================================================================
-------------------------------------------------------------------------------
Peer                 : {{ peer.address }}
Description          : {{ description if exits }}R
-------------------------------------------------------------------------------
Peer AS              : {{ Peer AS}}
Peer Address         : {{ Peer address }}
Local AS             : {{ Local AS }}
Local Address        : {{ Local Address }}
Peer Type            : NotYetAdded
State                : {{ BGP state}}
Last State           : NotYetAdded
Local Family         : IPv4
Remote Family        : IPv4
Hold Time            : {{ hold timer}}
Keep Alive           : {{ keep alive }}
Active Hold Time     : {{ current hold timer}}
Active Keep Alive    : {{ active keep alive timer }}
Preference           : NotYetAdded
IPv4 Recd. Prefixes  : {{ route table size }}
IPv4 Active Prefixes : NotYetAdded
i/p Messages         : NotYetAdded
o/p Messages         : NotYetAdded
i/p Updates          : NotYetAdded
o/p Updates          : NotYetAdded
Import Policy        : NotYetAdded
Export Policy        : NotYetAdded
-------------------------------------------------------------------------------
Neighbors : 1
===============================================================================